<html>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
        return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));

window.extAsyncInit = function () {
  MessengerExtensions.getSupportedFeatures(function success(result) {
  let features = result.supported_features;
  if (features.indexOf("context") != -1) {
    MessengerExtensions.getContext('<YOUR_APP_ID>',
      function success(thread_context) {
        // success
        document.getElementById("psid").value = thread_context.psid;
        document.getElementById('submitButton').addEventListener('click', function () {
    MessengerExtensions.requestCloseBrowser(function success() {
        console.log("Webview closing");
    }, function error(err) {
        console.log(err);
    });
});
      },
      function error(err) {
        console.log(err);
      }
    );
  }
}, function error(err) {
  console.log(err);
});
};
</script>
<body>
<form action="/optionspostback" method="POST">
    <input type="hidden" name="psid" id="psid">
    <h3>Choose a Category: </h3> 
    <input type="checkbox" name="category1" value="Classes">Classes<br>
    <input type="checkbox" name="category2" value="Residential Life">Residential Life<br>
    <input type="checkbox" name="category3" value="Eating">Eating<br>
     <h3>Tip: </h3> <input type="text" name="tip"><br>
    <input type="submit" value="Submit" id="submitButton">
</form>
</body>
</html>
